body {
	margin-left: 200px;
		background:url(" HOS/HS5.jpg");
	text-align: center;
	font-family: Times New Roman;
	font-size: 13px;
	width:900px;
	height: 2px;
}

.content
{
	color:Green;
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	
}

.hyperlink
{
	color:#921414;
	font-size:15px;
	font:Arial, Helvetica, sans-serif;
}
.hyperlinkone
{
	color:#bf0dc6;
	font-size:15px;
	font:Arial, Helvetica, sans-serif;
}
#header {
	width: 905px;
	height: 155px;
	margin: 0 auto;
	background:url("HOS/HSHEAD1.jpg");
}


#logo 
{
      border-top-left-radius:10px;
    border-top-right-radius:10px;
	background:#002537;
	float: left;
	width: 900px;
	height: 152px;
	margin: 0px;
	
}



#menu {
	width: 900px;
	height: 37px;
	margin: 0 auto;
	background-color:Green;
	border:1px solid #d1d1d1;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
	margin-left: 15px;
}

#menu li {
	display: inline;
	text-align: center;
}

#menu a {
	display: block;
	float: left;
	height: 20px;
	margin-right: 2px;
	padding: 12px 5px 5px 5px;
	font-family:Times New Roman;
	text-decoration:underline;
	text-align: center;
	text-transform:none;
	font-size: 15px;
	font-weight: bold;
	color:#ffffff;
	
}

#menu a:hover, #menu .active a {
	
	color:#ffffff;
}



#page {
	width: 900px;
	margin: 0 auto;
	padding-top: 10px;
	}

#footer 
{
   
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px; 
	margin: 0 auto;
	padding: 20px 0px;
	background:#A3A3C2;

	width:900px;
}

#footer p {
	margin: 0;
	font-family:Times New Roman;
	text-align: center;
	font-size: 77%;
}

#footer a {
	text-decoration: underline;
	color: #A1A1A1;
}

#footer a:hover {
	text-decoration: none;
}


.mGrid { 
    background-color: #fff; 
    margin: 5px 0 10px 0; 
    border: solid 1px #525252; 
    border-collapse:collapse; 
    font-family:Times New Roman;
    font-size: 15px;
}
.mGrid td { 
    padding: 2px; 
    border: solid 1px #c1c1c1; 
    color: #717171; 
}
.mGrid th { 
    padding: 4px 2px; 
    color: #379C1B; 
    background-color:#CCCCCC;
   
    /*background: #424242 url(grd_head.png) repeat-x top; */
    border-left: solid 1px #525252; 
    font-size: 0.9em; 
}
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }
.mGrid .pgr table { margin: 5px 0; }
.mGrid .pgr td { 
    border-width: 0; 
    padding: 0 6px; 
    border-left: solid 1px #666; 
    font-weight: bold; 
    color: #fff; 
    line-height: 12px; 
 }   
.mGrid .pgr a { color: #666; text-decoration: none; }
.mGrid .pgr a:hover { color: #000; text-decoration: none; }
.textbox{width:500px; height:40px; border:1px solid #727BF1; border-radius:3px;}
.btn{border:1px solid #cccccc; height:30px; border-radius:3px; font-weight:bold; font-size:12px;}